{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template filter_siyavula/activity_renderable
    Template to render a Siyavula Activity.
    Context variables required for this template:
    * baseurl - The URL used to access Siyavula's API.
    * token - The client's token.
    * usertoken - The user's token.
    * activitytype - The type of activity to be rendered i.e. ['practice', 'standalone', 'assignment'].
    * assignmentid - The assignment activity's id. (Assignment only)
    * sectionid - The practice activity's section id. (Practice only)
    * templateid - The template's id. (Standalone only)
    * randomseed - The template's random seed. (Standalone only)
    * templatelist - The list of templates and random seeds (Standalone List only)
    Example context (json):
    {
        "baseurl": 'https://www.siyavula.com/',
        "token": "eyJpZCI6MTksIm5hbWUiOiJlYnciLCJjbGllbnRfaXAiOiIwLjAuMC4wIiwiZXhwI...",
        "usertoken": "eyJpZCI6MTksIm5hbWUiOiJlYnciLCJjbGllbnRfaXAiOiIwLjAuMC4wIiwiZXhwI...",
        "activitytype: : "practice",
        "assignmentid": 1,
        "sectionid" : 204,
        "templateid": 1220,
        "randomseed": 25486,
        "templatelist": [[4858], [2216, 339850], [2198], [4901, 339297], [4902]]
    }
}}
<link rel="stylesheet" href="{{ baseurl }}static/themes/emas/siyavula-api/siyavula-api.min.css" />
<link rel="stylesheet" href="{{ wwwroot }}/filter/siyavula/styles/general.css" />
{{> filter_siyavula/mathjax_config}}
<script type="text/javascript">
    var baseUrl = '{{ baseurl }}';
    var showLivePreview = '{{ showlivepreview }}';
    var token = '{{ token }}';
    var userToken = '{{ usertoken }}';
    var activityType = '{{ activitytype }}';
    {{#assignmentid}}
        var assignmentId = {{ assignmentid }};
    {{/assignmentid}}
    {{#sectionid}}
        var sectionId = {{ sectionid }};
    {{/sectionid}}
    {{#templateid}}
        var templateId = {{ templateid }};
    {{/templateid}}
    {{#randomseed}}
        var randomSeed = {{ randomseed }};
    {{/randomseed}}
    {{#templatelist}}
        var templateList = {{ templatelist }};
    {{/templatelist}}
    {{#activityid}}
        var activityId = '{{ activityid }}';
    {{/activityid}}
    {{#responseid}}
        var responseId = '{{ responseid }}';
    {{/responseid}}
</script>
<main class="sv-region-main emas sv">
    <!-- Only display mastery for practice activities. -->
    {{#sectionid}}
        {{> filter_siyavula/mastery}}
    {{/sectionid}}

    <div id="monassis" class="monassis monassis--practice monassis--maths monassis--siyavula-api">
        <div class="question-wrapper">
            <div class="question-content"></div>
        </div>
    </div>
</main>

<script src="{{ baseurl }}/static/themes/emas/siyavula-api/siyavula-api.min.js"></script>
