{{#renderall}}

<link rel="stylesheet" href="https://www.siyavula.com/static/themes/emas/siyavula-api/siyavula-api.min.css"/>
<link rel="stylesheet" href="https://www.siyavula.com/static/themes/emas/question-api/question-api.min.css"/>

<script>
    var baseUrl = '{{ baseUrl }}';
    var token = '{{ token }}';
    var userToken = "{{user_token}}";
    var activityType = "standalone";
    var templateId = '{{ template_id }}';
    var randomSeed = '{{ randomSeed }}';
    var qtpractice = '{{ qtpractice }}';
    const all_ids = '{{ all_ids }}';
</script>
<style type="text/css">
  .monassis .icon{
    font-family: 'sv-ui-icon';
  }
  .icon{
    font-family: 'FontAwesome';
  }
  .progress-bar.bar{
    margin: 0;
  }
</style>
<main class="sv-region-main emas sv">
  <div id="monassis" class="monassis monassis--practice monassis--maths monassis--siyavula-api">
    <div class="question-wrapper">
      <div class="question-content"></div>
    </div>
  </div>
</main>
<script src="https://www.siyavula.com/static/themes/emas/node_modules/mathjax/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
<script src="https://www.siyavula.com/static/themes/emas/siyavula-api/siyavula-api.js"></script>
<a href='' id='a_next'><button>Next Question</button></a>
<script>
  function checkQuestion()
  {
    var id =  '{{ template_id }}';
    var param = '{{ all_ids }}';
    var next =  '{{ next }}';
    
    var btn = document.querySelector('#a_next')
    btn.href = `{{current_url}}?templateId=${id}&all_ids=${param}&show_id=${next}`
    
    if(next == false){
      btn.innerHTML = '';
    }
  }
  checkQuestion()
  
  //Hide buttons controls
  function checkControls(){
            
      var qtvalue = document.getElementsByClassName('sv-button--goto-question')
      
      if(qtvalue.length){
          document.getElementsByClassName('sv-button--goto-question')[0].style.display = "none";
      }else{
          setTimeout( checkControls, 500 );
      }
  }
  checkControls();
</script>
{{/renderall}}
