<link rel="stylesheet" href="https://www.siyavula.com/static/themes/emas/siyavula-api/siyavula-api.min.css"/>
<link rel="stylesheet" href="https://www.siyavula.com/static/themes/emas/question-api/question-api.min.css"/>
<script>
    var baseUrl = '{{ baseUrl }}';
    var token = '{{ token }}';
    var userToken = "{{user_token}}";
    var activityType = "standalone";
    var templateId = {{ template_id }};
    var randomSeed = {{ randomSeed }};
</script>
<main class="sv-region-main emas sv">
  <div id="monassis" class="monassis monassis--practice monassis--maths monassis--siyavula-api">
    <div class="question-wrapper">
      <div class="question-content"></div>
    </div>
  </div>
</main>
<script src="https://www.siyavula.com/static/themes/emas/node_modules/mathjax/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
<script src="https://www.siyavula.com/static/themes/emas/siyavula-api/siyavula-api.js"></script>