body, html {
    width: auto;
}

.practice-content-wrapper{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

#exercise {
    order: 0;
    padding: 3%;
}

#mastery {
    order: 1;
    padding: 3%;
}

.monassis .icon{
    font-family: 'sv-ui-icon';
}

.icon{
    font-family: 'FontAwesome';
}

.progress-bar.bar{
    margin: 0;
}

.progress {
    height: 2.5em;
    line-height: 2.5em;
    text-align:center;
    vertical-align: middle;
}

.practice-section-question {
    display: flex;
    justify-content: space-between;
}
