body, html {
    width: auto;
}

.monassis .icon{
    font-family: 'sv-ui-icon';
}

.icon{
    font-family: 'FontAwesome';
}

.progress-bar.bar{
    margin: 0;
}

.progress {
    height: 2.5em;
    line-height: 2.5em;
    text-align:center;
    vertical-align: middle;
}

.practice-section-question {
    display: flex;
    justify-content: space-between;
}

.step-counter {
    font-weight: 700;
    font-size: 1.5em;
    padding-bottom: 2%;
    color: #008bb2;
}
